<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="win81" />
  <package id="NControl" version="0.5.9" targetFramework="win81" />
  <package id="NGraphics" version="0.2.2" targetFramework="win81" />
  <package id="SharpDX" version="2.6.3" targetFramework="win81" />
  <package id="SharpDX.Direct2D1" version="2.6.3" targetFramework="win81" />
  <package id="SharpDX.Direct3D11" version="2.6.3" targetFramework="win81" />
  <package id="SharpDX.DXGI" version="2.6.3" targetFramework="win81" />
  <package id="Xamarin.Forms" version="1.4.2.6359" targetFramework="win81" />
</packages>